@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/fonts/OpenSans/OpenSans.eot'); /* IE9 Compat Modes */
    src: url('../fonts/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/OpenSans/OpenSans.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/OpenSans/OpenSans.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/OpenSans/OpenSans.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/OpenSans/OpenSans.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/*Header*/

body{
    font-family: 'OpenSans', sans-serif;
    font-size: 13.5px;
    line-height: 170%;
    color: #333;
    overflow-x: hidden;
}

p{ margin: 0 0 20px 0; }

h1, .h1{ font-size: 22px; color: #000; }

h2, .h2{ font-size: 20px; color: #000; }

h3, .h3{ font-size: 16px; color: #000; }

h4, .h4{ font-size: 14px; color: #000; }

img{ max-width: 100%; }

a{
    color: #078D92;
}

a:hover{
    color: #1bd3df;
}

ul.links.inline{
    padding: 0;
}

ul.links.inline li{
    list-style: none;
}

.block{
    margin-bottom: 20px;
}

.main-header{
    background: #000;  
    color: #fff;
    padding: 10px 0;  
    background-size: cover;
    position: relative;    
}

.main-header:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(21, 22, 26, 0.88);
}

.main-header nav{
    background: none;
    border: 0;
    margin: 0;
    position: relative;
    z-index: 2;
}

.main-header .region{
    position: relative;
    z-index: 2;
}

/*region header*/

.site-branding{
    margin: 0;
}

.brand.logo{
    margin-right: 5px;
}
.brand.logo img { height: 50px; width: auto; }
.region-header .brand{
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
}

.site-name a{
    font-size: 26px;
    color: #fff;
}

/*Banner*/

.welcome-banner-text{
    text-align: center;
    line-height: 160%;
    max-width: 600px;
    padding: 90px 0;
}

.welcome-banner-text h2{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

/*top widget*/

.topwidget{
    text-align: center;
    padding: 50px 0;
}

.topwidget .fa{
    font-size: 60px;
    background: #4D4F4A;
    width: 120px;
    height: 120px;
    padding: 32px;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 20px;
}

/*footerwidget*/

.footerwidget{
    background: #2e2e2e;
    color: #D0D0D0;
    padding: 10px 0;
}

.footerwidget img.left{
    float: left;
    margin: 10px 10px 0 0;
}

.copyright{
    background: #000;
    font-size: 10px;
    color: #999;
}

.copyright p{
    margin: 13px 0;
}

.footerwidget h2,
.footerwidget .h2{
    color: #FFF;
}

/*bottom-widgets*/

.bottom-widgets{
    text-align: center;
    background: #FBFBFB;
    padding: 10px 0;
}

.bottom-widgets .region{
    padding: 10px;
    background: #DEDEDE;
}

/*Footer menu*/

.footer-menu{
    margin: 0;
    border: 0;
    background: #eee;
    color: #fff;
}

.footer-menu ul{
    margin: 10px 0;
    padding: 0;
}

.footer-menu nav li{
    display: inline-block;
}

.footer-menu nav li a{
    display: block;
    padding: 4px 20px 4px 0;
}

.google_map p,
.google_map .block{
    margin: 0;
}

.google_map iframe{
    display: block;
}

/*Credit link*/

.credit-link{
    text-align: left;
}

/*SOCIAL MEDIA*/

.social-media{
    margin: 10px 0;
    overflow: hidden;
    float: left;
}

.social-media a {
    width: 30px;
    height: 30px;
    color: #fff;
    float: left;
    margin: 0 10px 0 0;
    text-align: center;
    background: #3262b9;
    font-size: 14px;
    line-height: 220%;
}

.social-media a.google-plus{
    background: #de2020;
}

.social-media a.twitter{
    background: #29C5F6;
}

.social-media a.linkedin{
    background: #069;
}

.social-media a.pinterest{
    background: #C61118;
}

.social-media a.rss{
    background: #FF6D00;
}

.social-media a:hover{
    opacity: .6;
}

/*FORM*/

input, button, select, textarea{
    padding: 9px;
    border: 1px solid #C7C7C7;
}

.contact-message-form label{
    display: block;
}

.btn, 
input[type="submit"]{
    background: #19c2c8;
    color: #fff;
    border: 0;
    padding: 13px;
    line-height: 100%;
    height: 42px;
}

.btn:hover, 
input[type="submit"]:hover{
    background: #13ADB3;
}

/*FRONT PAGE*/

.path-frontpage .content_layout {
    text-align: center;
}

.path-frontpage .feed-icon{
    display: none;
}

/*MENU*/

.navbar-default .navbar-toggle{
    background: #fff;
    margin-right: 0;
}

nav h2{
    display: none;
}

.menu-base-theme,
.menu-base-theme a, 
.menu-base-theme a:hover, 
.menu-base-theme a:focus, 
.menu-base-theme a:active, 
.menu-base-theme a.highlighted{
    background: none;
}

.main-menu {
    position: relative;
    z-index: 9999;
}

.region-primary-menu{
    display: none;
    background: #fff;
    border-radius: 3px;
    width: 100%;
    margin-top: 20px;
}



.menu-base-theme a span.sub-arrow{
    color: #999;
    font-size: 22px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #DCDCDC;
    background: #EFEFEF;
} 

.navbar-toggle{
    z-index: 999;
}

/*breadcrumb*/

.breadcrumb{
    background: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #eee;
}

.breadcrumb ul{
    padding: 0;
}

.breadcrumb ul li{
    display: inline-block;
}

/*search form*/

#search-block-form{
    display: table;
    width: 100%;
}

#search-block-form .form-item,
#search-block-form .form-actions{
    display: table-cell;
    vertical-align: top;
}

#search-block-form input{
    width: 100%;
}

/*Demo typography*/

.bd-example {
    position: relative;
    padding: 20px;
    border: 2px solid #f7f7f9;
}

.highlight{
    padding: 20px;
    background-color: #f7f7f9;
}

.highlight pre{
    border: 0;
    background: none;
}

.bd-example-type .table tr:first-child td {
    border-top: 0;
}

.bd-example-type h1, 
.bd-example-type h2, 
.bd-example-type h3, 
.bd-example-type h4, 
.bd-example-type h5, 
.bd-example-type h6 {
    margin: 0;
}

.bd-example-type .table td {
    padding: 15px 0;
    border-color: #eee;
}

/*Contact form*/

.path-contact{}

.contact-message-feedback-form{
    max-width: 650px;
    margin: 0 auto;
    border: 1px solid #D8D8D8;
    padding: 10px 30px;
    background: #F5F5F4;
}

.contact-message-feedback-form .form-text,
.contact-message-feedback-form .form-email,
.contact-message-feedback-form .form-textarea{
    width: 100%;
}

/*user-login-form*/

.user-login-form,
.user-form,
.user-pass{
    max-width: 650px;
    margin: 40px auto;
    border: 1px solid #ddd;
    padding: 10px 30px;
    background: #FBFBFB;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text{
    width: 100%;
}

.form-composite > .fieldset-wrapper > .description, 
.form-item .description {
    font-size: 11px;
    color: #999;
    font-style: italic;
}

/*Maintainance*/

.maintenance-page{
    background: url(../images/maintenance-bg.png) #66CBFF center no-repeat;
    color: #fff;
    text-align: center;
    padding-top: 220px;
    padding-bottom: 100px;
    font-size: 18px;
    color: #000;
}

.maintenance-msg {
    margin: 20px 0;
    background: rgba(242, 244, 207, 0.88);
    padding: 20px 30px;
    display: inline-block;
    color: #404040;
    border: 1px solid #fff;
    box-shadow: 5px 5px 0px #FFFFFF;
    font-size: 14px;
}

.maintenance-msg h1{
    text-transform: uppercase;
    font-weight: bold;
}

.maintenance-page .brand,
.maintenance-page .name-and-slogan{
    display: inline-block;
    vertical-align: middle;
}

.maintenance-page .site-name a{
    color: #404040;
}

.maintenance-page .site-slogan,
.maintenance-page .name-and-slogan{
    display: none;
}


/*Comment*/

.comment-wrap{
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F5F5F5;
}

.comment-wrap .author-details{
    float: left;
    width: 20%;
}

.comment-wrap .author-comments{
    padding-left: 5px;
    float: left;
    width: 80%;
}

.comment-submitted{
    padding: 5px 10px;
    border: 1px solid #eee;
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
}

.comment-wrap .author-comments h3{
    margin-top: 10px;
}

.comment-wrap .author-comments p{
    margin-bottom: 10px;
}

/*links inline*/

ul.links.inline li{
    display: inline-block;
    padding-right: 10px;
}

/*profile*/

.profile > div{
    padding-right: 5px;
    display: inline-block;
    vertical-align: top;
}

.profile h4.label{
    color: #333;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}


/* ==================================================
   Home Slider
================================================== */

#home-slider {
    position: relative;
    overflow: hidden;
    height: 100%;
}

#home-slider .overlay { 
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    background: #26292E;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 0;
}

#home-slider .slider-text {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -585px;
    width: 1170px;
    height: 250px;
    text-align: center;
    z-index: 2;	
}

#home-slider #slidecaption {
    width: 100%;
    line-height: 250px;
    margin: 0;
    text-align: center;
    text-shadow: none;	
}

#home-slider .slide-content {
    font-size: 60px;
    color: #FFFFFF;
    letter-spacing: -3px;
    text-transform: uppercase;	
}

#home-slider .control-nav {
    position: absolute;
    width: 100%;
    background: #2F3238;
    height: 50px;
    bottom: 0;
    z-index: 2;
}

#home-slider #nextslide,
#home-slider #prevslide {
    background-image: none;
    background-color: #26292E;
    display: inline-block;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 50px;
    height: 50px;
    opacity: 1;
    filter: alpha(opacity=100);

    -webkit-transition: background 0.1s linear 0s;	
    -moz-transition: background 0.1s linear 0s;
    -o-transition: background 0.1s linear 0s;
    transition: background 0.1s linear 0s;
}

#home-slider #nextslide {
    margin-left: -3px;	
}

#home-slider #nextsection {
    float:right;
}

#home-slider #nextslide:hover,
#home-slider #prevslide:hover {
    background-color:#DE5E60;
}

#home-slider #nextslide i,
#home-slider #prevslide i {
    font-size: 16px;
    color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    line-height: 1em;
}

#home-slider #nextslide i {
    margin-left: -8px;	
}

#home-slider #prevslide i {
    margin-left: -9px;	
}

#home-slider ul#slide-list {
    top: 50%;
    padding: 0;
    margin:-6px 0 0 0;	
}

#home-slider ul#slide-list li {
    margin-right: 12px;
}

#home-slider ul#slide-list li:last-child {
    margin-right: 0;	
}

#home-slider ul#slide-list li a {
    background-color: #6E7074;
    background-image: none;
    width: 12px;
    height: 12px;

    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;	

    -webkit-transition: background 0.1s linear 0s;	
    -moz-transition: background 0.1s linear 0s;
    -o-transition: background 0.1s linear 0s;
    transition: background 0.1s linear 0s;
}

#home-slider ul#slide-list li a:hover {
    background-color: #FFFFFF;	
}

#home-slider ul#slide-list li.current-slide a,
#home-slider ul#slide-list li.current-slide a:hover {
    background-color:#DE5E60;
}

#home-slider #nextsection {
    background-color: #26292E;
    margin: 0;
    position: relative;
    float:right;
    width: 50px;
    height: 50px;

    -webkit-transition: background 0.1s linear 0s;	
    -moz-transition: background 0.1s linear 0s;
    -o-transition: background 0.1s linear 0s;
    transition: background 0.1s linear 0s;
}

#home-slider #nextsection:hover {
    background-color:#DE5E60;
}

#home-slider #nextsection i {
    font-size: 16px;
    color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    line-height: 1em;
}

#home-slider #nextsection i {
    margin-left: -7px;	
}



@keyframes menu-slidedown{
    0%   {height: 0px}
    25%  {height: 20px}
    100% {height: 76px}
}
@-moz-keyframes menu-slidedown{
    0%   {height: 0px}
    25%  {height: 20px}
    100% {height: 76px}
}
@-webkit-keyframes menu-slidedown{
    0%   {height: 0px}
    25%  {height: 20px}
    100% {height: 76px}
}
@-ms-keyframes menu-slidedown{
    0%   {height: 0px}
    25%  {height: 20px}
    100% {height: 76px}
}
@-o-keyframes menu-slidedown{
    0%   {height: 0px}
    25%  {height: 20px}
    100% {height: 76px}
}

#wrapper {background: url(../img/backgrond-content-tn.jpg); background-size: cover; background-repeat:no-repeat;}

.region-breadcrumb {margin-top: 83px}

/*.menu-base-theme ul {display: block !important}*/

/*
.menu-base-theme ul li:nth-child(1) {top:62px}
.menu-base-theme ul li:nth-child(2) {top:105px}*/



.portfolioFilter a { 
    margin-right: 10px; 
    color:#666;
    text-decoration:none;
}

.portfolioFilter a.current { 
    font-weight:bold;
}

img {
    margin:5px;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

#back-to-top {
    font-size: 16px;
    text-align: center;
    padding: 5px;
    display: none;
    background-color: #3C3F45;
    margin: 0;
    position: fixed;
    bottom: 25%;
    right: 0;
    width: 35px;
    height: 35px;
    z-index: 99;    
    transition: background 0.5s linear 0s
}

#back-to-top:hover {background: #8B0000}

/* ==================================================
   HOME
================================================== */

#servicos {margin: 0 auto}
#servicos .wrapper-overlay{ transition: all 0.3s ease-in-out; height: 250px; padding: 15px; margin: 20px 0; opacity: 0 }
#servicos .wrapper-overlay:hover  .servicos-icon {font-size: 6em; transition: all 0.7s !important}
#servicos h1 {font-size: 1.7em; font-weight: bold}
#servicos .servicos-icon {font-size: 5em; font-weight: bold; color:#1E90FF}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0 !important;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1 !important;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 

.wrapper-overlay .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #8B0000;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 450ms ease-out 0s;	
    -moz-transition: all 450ms ease-out 0s;
    -o-transition: all 450ms ease-out 0s;
    transition: all 450ms ease-out 0s;
    -webkit-transform: rotateY(180deg) scale(0.5,0.5);
    -moz-transform: rotateY(180deg) scale(0.5,0.5);
    -ms-transform: rotateY(180deg) scale(0.5,0.5);
    -o-transform: rotateY(180deg) scale(0.5,0.5);
    transform: rotateY(180deg) scale(0.5,0.5);	
}
.wrapper-overlay .overlay .fa {top: 45%;font-size: 3em; position: relative; color: #eee}
.wrapper-overlay:hover .overlay {
    opacity: 0.8;
    filter: alpha(opacity=100);
    -webkit-transform: rotateY(0deg) scale(1,1);
    -moz-transform: rotateY(0deg) scale(1,1);
    -ms-transform: rotateY(0deg) scale(1,1);
    -o-transform: rotateY(0deg) scale(1,1);
    transform: rotateY(0deg) scale(1,1)
}
#servicos .servicos-title { vertical-align: central; line-height: 25px}
#servicos p {line-height: 23px; justify-content:space-between; vertical-align: bottom}


#block-page-ui{z-index: 10;position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: #333;opacity: 0.9}
#block-page-ui img {position: fixed; top: 30%; left: 45%; height: 50px; width: auto}